:root {
        --purple: #9200C6;
        --blue: #0015CA;
        --b-low: #40d7fd;
        --primary: #ffffff;
        --secondary: #00051f;
}

.day {
        --primary: #00051f;
        --secondary: #ffffff;
}

* {
        font-family: 'Anonymous Pro', monospace;
        color: var(--primary);
}

html {
        scroll-behavior: smooth;
}

body {
        background-color: var(--secondary);
        margin: 0rem;
        transition: background 1.2s;
}

section {
        height: 100vh;
}

/* blob */
@keyframes rotate {
        from {
                rotate: 0deg;
        }

        50% {
                scale: 1 1.5;
        }

        to {
                rotate: 360deg;
        }
}

#blob {
        height: 25vmax;
        aspect-ratio: 1;
        position: fixed;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background: linear-gradient(to right, var(--blue), var(--purple));
        animation: rotate 30s infinite;
        opacity: 0.8;
        z-index: -3;
}

#blur {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -2;
        backdrop-filter: blur(12vmax);
}

.home {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
}

#e {
        font-size: 9vw;
        font-weight: 600;
}

.home p {
        font-size: 4vw;
        font-weight: 200;
        margin: 0;
}

.aboutme {
        display: inline-block;
        width: 81px;
        height: 81px;
        line-height: 81px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--purple);
        text-decoration: none;
        float: right;
}

@media screen and (max-width:768px) {
        body {
                overflow-x: hidden;
        }

        #blob {
                display: none;
        }

        .aboutme {
                float: none;
        }

        #e {
                font-size: 9vh;
        }

        .home p {
                font-size: 4vh;
        }
}
